.wrapper {
    min-height: 300px;
    width: 80vw;
    padding: 10px;
}

.titleWrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.submitBtn {
    margin-top: 10px;
}

.testEnd {
    margin-bottom: 20px;
    margin-top: 10px;
}